{% extends "base.html" %}

{% block head %}
  {{ super() }}

  <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
  <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta name="twitter:title" content="{{ SITENAME }} | {{ article.title }}">
  <meta name="twitter:description" content="{{ article.summary }}">

  <!-- Facebook Meta Data -->
  <meta property="og:title" content="{{ SITENAME }} | {{ article.title }}" />
  <meta property="og:description" content="{{ article.summary }}" />
  <meta property="og:image" content="{{ AVATAR }}" />
{% endblock head %}

{% block content %}
  <div class="card mb-3">
    <h1 class="card-header text-center">{{ article.title }}</h1>

    <div class="card-body">
      <article>
        <div class="lead text-justify">
          {{ article.content }}
        </div>
      </article>
    </div>
    <div class="card-footer text-muted">
      By <a href="{{ SITEURL }}/{{ article.author.url }}">@{{ article.author }}</a>, in category <a href="{{ SITEURL }}/{{ article.category.url }}" title="Permalink to {{ article.category|striptags }}">[ {{ article.category }} ]</a>
      <br />
      Tags: 
      {% if article.tags %}
        {% for tag in article.tags %}
          <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}{{ "" if loop.last else ", " }} </a>
        {% endfor %}
      {% endif %}
      <br />
      Date: {{ article.locale_date }}
    </div>
  </div>
{% endblock content %}