{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
  <meta name="twitter:url" content="{{ SITEURL }}">
  <meta name="twitter:title" content="{{ SITENAME }}">
  <meta name="twitter:description" content="{{ SITEDESCRIPTION }}">

  <!-- Facebook Meta Data -->
  <meta property="og:title" content="{{ SITENAME }}"/>
  <meta property="og:description" content="{{ SITEDESCRIPTION }}"/>
  <meta property="og:image" content=""/>
{% endblock head %}

{% block content_title %}{% endblock %}

{% block content %}

  {% if not articles_page.has_previous() %}
    <div class="container py-4">
      <div class="jumbotron" id="header-background">
        <h1 class="text-center display-4">{{ SITENAME }} — {{ SITEDESCRIPTION }}</h1>
        <hr class="m-5" />
        <div class="text-justify lead">
          {{ LONGSITEDESCRIPTION }}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container">
    <div class="row">
      {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
          <div class="col-12 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title"><a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                {% if DISPLAY_SUMMARY and article.summary|length > 0 %}
                  <p class="card-text">{{ article.summary }}</p>
                {% endif %}
                <a class="card-link" href="{{ SITEURL }}/{{ article.author.url }}">@{{ article.author }}</a> in <a class="card-link" href="{{ SITEURL }}/{{ article.category.url }}" title="Permalink to {{ article.category|striptags }}">[ {{ article.category }} ]</a> {{ article.locale_date }}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  {% include 'pagination.html' %}
  
{% endblock content %}
