{% extends "base.html" %}

{% block head %}
  {{ super() }}
  
  <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
  <meta name="twitter:url" content="{{ SITEURL }}">
  <meta name="twitter:title" content="{{ SITENAME }}">
  <meta name="twitter:description" content="{{ SITEDESCRIPTION }}">

  <!-- Facebook Meta Data -->
  <meta property="og:title" content="{{ SITENAME }}"/>
  <meta property="og:description" content="{{ SITEDESCRIPTION }}"/>
  <meta property="og:image" content="{{ AVATAR }}"/>
{% endblock head %}

{% block title %}
  {% if not articles_page.has_previous() %}
    <div class="container">
      <div class="jumbotron mt-5" id="header-background">
        <h1 class="text-center display-4">{{ SITENAME }} — {{ SITEDESCRIPTION }}</h1>
        <hr class="m-5" />
        <div class="text-justify lead">
          {{ LONGSITEDESCRIPTION }}
        </div>
      
        {% if CAROUSEL %}

          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for id in range(CAROUSEL|length) %}
                <li data-target="#myCarousel" data-slide-to="{{ id }}" class="{{ 'active' if id == 0 else '' }}"></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for title, description, link, banner in CAROUSEL %}
                <!-- <div class="carousel-item active"> -->
                <div class="carousel-item {{ 'active' if loop.first else '' }}">
                  <img src="{{ banner }}" alt="{{ title }} banner">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1 class="my-3">{{ title }}</h1>
                      <p class="lead my-3">{{ description }}</p>
                      <p><a class="btn btn-lg btn-primary my-2" href="{{ link }}" role="button">Learn more</a></p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        {% endif %}

      </div>
    </div>

  {% endif %}

  <div class="container pt-5">
    <div class="card">
        <div class="card-header">
          {% if articles_page.has_previous() %}
            <h1 class="text-center display-4">Latest posts — page {{ articles_page.number }}</h1>
          {% else %}
            <h1 class="text-center display-4">Latest posts</h1>
          {% endif %}
        </div>
      </div>
  </div>
{% endblock title %}

{% block content %}
  <div class="row">
    {% if articles %}
      {% for article in (articles_page.object_list if articles_page else articles) %}
        <div class="col-12 col-lg-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title"><a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
              {% if DISPLAY_SUMMARY and article.summary|length > 0 %}
                <p class="card-text">{{ article.summary }}</p>
              {% endif %}
              <a class="card-link" href="{{ SITEURL }}/{{ article.author.url }}">@{{ article.author }}</a> in <a class="card-link" href="{{ SITEURL }}/{{ article.category.url }}" title="Permalink to {{ article.category|striptags }}">[ {{ article.category }} ]</a> {{ article.locale_date }}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
    
  {% include 'pagination.html' %}
{% endblock content %}
